body {
    display: flexbox;
    background-color: antiquewhite;
}

#cardContainer {
    display: flexbox;
    justify-content: center;
    background-color: yellow;
    padding: 20px;
    text-align: center;
}



#header {
    background-color: blue;
    color: white;
    text-align: center;
}

.card {
    display: flexbox;
    justify-content: center;
    background-color: yellow;
    padding: 20px;
    text-align: center;
}

#empCard {
    background-color: lightskyblue;
}